<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Exploding Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>

    <script src="/js/datahandler.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>


<center><h1>Exploding shop</h1></center>


<div class="container">

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h3>My cart</h3>
            </div>
            <div class="modal-body">
                <h4>Only these ones??? ..worst customer ever...</h4>
                <table>
                    <tr>
                        <td>name</td>
                        <td>description</td>
                        <td>price</td>
                        <td><a class="delete-btn">delete</a></td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>description</td>
                        <td>price</td>
                        <td><a class="delete-btn">delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="well well-sm row">
        <a id="myBtn" class="col-md-3 my_cart">my cart</a>
        <a class="col-md-3 my_cart" href="" >Suppliers</a>
        <a class="col-md-3 my_cart" th:each="categ,iterStat : ${category}" href="" th:text="${categ.name}">
        </a>
    </div>


    <div class="well well-sm row">
        <a class="col-md-3 my_cart" href="" >My cart</a>
        <a class="col-md-3 my_cart" href="" >Suppliers</a>
        <a class="col-md-3 my_cart" th:each="categ,iterStat : ${category}" href="" th:text="${categ.name}">
            </a>
        </div>

    <div>
        <center><div id="columns">

        <div th:each="prod,iterStat : ${products}">
            <figure>
            <div class="thumbnail">
                <img src="http://placehold.it/400x250/000/fff" th:attr="src='/img/' + ${prod.pic}" width="100%" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="add_to_cart_btn" th:href="'/addToCart/'+${prod.id}">Add to cart</a>
                        </div>
                    </div>
                </div>
                </div>
            </figure>
            </div>
        </div>
        </center>
    </div>

</div>
</body>
</html>