@font-face {
    font-family: kittens_font;
    src: url(../font/bebas-neue-regular.ttf);
}

body {
    background-color: #6e0308;
}
.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{

}
.item.list-group-item .thumbnail
{

}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{

}

h1 {
    font-family: kittens_font;
    font-size: 6em;
    color: white;
}

h3 {
    font-family: kittens_font;
    font-size: 30px;
}

h4 {
    font-family: kittens_font;
    font-size: 20px;
}

a {
    font-family: kittens_font;
    font-size: 2em;
    color: #6e0308;
    margin-top: 3px;
    margin-bottom: 3px;
}

a:hover {
    text-decoration: none;
    color: darkorange;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    cursor: pointer;
}

.my_cart {
    text-align: center;
    float: left;
}

.well-sm {
    padding: 0em;
    border-radius: 0.2em;
}

.homemade_navbar {
    clear:left;
    margin-left:20px;
    text-align: center;
}

item col-xs-4 col-lg-4 {
    max-height: 200px;
}

#products {
    max-height: 100px;
}

#columns {
    column-width: 15em;
    column-gap: 15px;
    width: 100%;
    max-width: 1100px;
    margin-top: 100px auto;
    text-align: left;
}

div#columns figure {
    margin: 0 2px 15px;
    padding: 15px 15px 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
}

.add_to_cart_btn {
    background-color: white;
    color: black;
    border: 2px solid #6e0308;
    transition-duration: 0.4s;
    border-radius: 5px;
    font-size: 13px;
    padding: 6px;
}

.add_to_cart_btn:hover {
    background-color: #6e0308;
    color: white;
    border-radius: 5px;

}

.col-md-6 {
    width: 50%;
    margin-top: 20px;
}

/*Modal*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0em;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.5s;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 1px 16px;
    background-color: #6e0308;
    color: white;
}

.modal-footer {
    padding: 1px 16px;
    background-color: #6e0308;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes slideOut {
    from {bottom: 0; opacity: 1}
    to {bottom: -300px; opacity: 0}
}

@keyframes slideOut {
    from {bottom: 0; opacity: 1}
    to {bottom: -300px; opacity: 0}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

table {
    width:100%;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.delete-btn {
    background-color: #6e0308;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    padding: 6px;
}

.button-badge {
    background-color: #fa3e3e;
    border-radius: 8px;
    width: 26%;
    color: white;
    margin-right: 25%;
    padding: 3%;
    font-size: 20px;
}